<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-secondary rounded-3">
          <h2>Welcome to the Tech Blog</h2>
          <p>This page is a blogsite for Developers to share thoughts.  Interviewers and Guest may use username: Admin@admin.com, password: admin</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-secondary rounded-3">
          <h2>Code of Conduct for Shareing</h2>
          <ol>
            <li>There will be no use of profanity or any harasment of any kind</li>
            <li>try to keep blogposts Tech related. All post will be checked and monitered and any inappropriate comments will result in the lose of Blog privlages</li>
            <li>no sexual content is allowed on the blogsite</li>
            <li>have fun talking about current projects and whats new with technology in this safe space</li>
          </ol>
        </div>
      </div>